@use "@angular/material" as mat;

.about_section {
  margin: 60px 80px;
}

.about_section_sm {
  margin: 0;
}

mat-card {
  margin-bottom: 16px;

  @include mat.card-overrides(
    (
      outlined-container-shape: 10px,
      subtitle-text-color: var(--mat-sys-surface-container-highest),
    )
  );
}
