@use "@angular/material" as mat;

.about_section {
  margin: 10px 80px;
  img[alt="about_banner"] {
    width: 525px;
  }
}

.about_section_sm {
  margin: 0;
  img[alt="about_banner"] {
    width: 343px;
  }

  .about_banner_col {
    margin: 0 auto;
  }
}

p {
  margin-bottom: 20px;
}
